*{
    margin: 0%;
    padding: 0;   
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background-color: rgb(91, 91, 231); 
}


.container{
    width: 690px;
    background:rgb(189, 236, 119);
    border-radius: 7px;
    padding: 30px;

}

.wrapper{
    border-radius: 5px;
    border: 1px solid black;
}

.wrapper .text-input{
    display: flex;
    border-bottom: 1px solid gray;
}

.text-input .to-text{
    border-radius: 0px;
    border-left: 1px solid blue;

}


.text-input textarea{
    height: 250px;
    width: 100%;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    background: none;
    padding: 10px 15px;


}

.controls, li, .icons, .icons i{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls {
    list-style: none;
    padding: 12px 15px;
}

.controls .row.from{
    padding-right: 15px;
    border-right: 1px solid yellow;
}

.controls .row.to{
    padding-left: 15px;
    border-left: 1px solid yellow;
}

.container .icons{
    width: 38%;

}
.container .icons i{
    width: 50px;
    color: rgb(62, 56, 23);
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
    
}

.controls .row select{
    border: none;
    outline: none;
    background:none;
    font-size: 18px;
}

.controls .exchange {
    color: blue;
    font-size: 16px;
    cursor: pointer;
}


.container button{
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(74, 74, 242);
    color: white;
}